SODAMvcApplication/SODAMvcApplication/Service References/CMSServiceReference/CMS_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CMS_Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50615/CMS_Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50615/CMS_Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50615/CMS_Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" />
      <xsd:import schemaLocation="http://localhost:50615/CMS_Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SODAwcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICMS_Service_addContent_InputMessage">
    <wsdl:part name="parameters" element="tns:addContent" />
  </wsdl:message>
  <wsdl:message name="ICMS_Service_addContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:addContentResponse" />
  </wsdl:message>
  <wsdl:message name="ICMS_Service_UpdateContent_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateContent" />
  </wsdl:message>
  <wsdl:message name="ICMS_Service_UpdateContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateContentResponse" />
  </wsdl:message>
  <wsdl:message name="ICMS_Service_getContent_InputMessage">
    <wsdl:part name="parameters" element="tns:getContent" />
  </wsdl:message>
  <wsdl:message name="ICMS_Service_getContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:getContentResponse" />
  </wsdl:message>
  <wsdl:message name="ICMS_Service_deleteContent_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteContent" />
  </wsdl:message>
  <wsdl:message name="ICMS_Service_deleteContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteContentResponse" />
  </wsdl:message>
  <wsdl:message name="ICMS_Service_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="ICMS_Service_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="ICMS_Service_addContact_InputMessage">
    <wsdl:part name="parameters" element="tns:addContact" />
  </wsdl:message>
  <wsdl:message name="ICMS_Service_addContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:addContactResponse" />
  </wsdl:message>
  <wsdl:portType name="ICMS_Service">
    <wsdl:operation name="addContent">
      <wsdl:input wsaw:Action="http://tempuri.org/ICMS_Service/addContent" message="tns:ICMS_Service_addContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICMS_Service/addContentResponse" message="tns:ICMS_Service_addContent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateContent">
      <wsdl:input wsaw:Action="http://tempuri.org/ICMS_Service/UpdateContent" message="tns:ICMS_Service_UpdateContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICMS_Service/UpdateContentResponse" message="tns:ICMS_Service_UpdateContent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getContent">
      <wsdl:input wsaw:Action="http://tempuri.org/ICMS_Service/getContent" message="tns:ICMS_Service_getContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICMS_Service/getContentResponse" message="tns:ICMS_Service_getContent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteContent">
      <wsdl:input wsaw:Action="http://tempuri.org/ICMS_Service/deleteContent" message="tns:ICMS_Service_deleteContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICMS_Service/deleteContentResponse" message="tns:ICMS_Service_deleteContent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/ICMS_Service/Authenticate" message="tns:ICMS_Service_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICMS_Service/AuthenticateResponse" message="tns:ICMS_Service_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addContact">
      <wsdl:input wsaw:Action="http://tempuri.org/ICMS_Service/addContact" message="tns:ICMS_Service_addContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICMS_Service/addContactResponse" message="tns:ICMS_Service_addContact_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICMS_Service" type="tns:ICMS_Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addContent">
      <soap:operation soapAction="http://tempuri.org/ICMS_Service/addContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContent">
      <soap:operation soapAction="http://tempuri.org/ICMS_Service/UpdateContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getContent">
      <soap:operation soapAction="http://tempuri.org/ICMS_Service/getContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteContent">
      <soap:operation soapAction="http://tempuri.org/ICMS_Service/deleteContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://tempuri.org/ICMS_Service/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addContact">
      <soap:operation soapAction="http://tempuri.org/ICMS_Service/addContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CMS_Service">
    <wsdl:port name="BasicHttpBinding_ICMS_Service" binding="tns:BasicHttpBinding_ICMS_Service">
      <soap:address location="http://localhost:50615/CMS_Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>