SODAMvcApplication/SODAMvcApplication/Service References/CMSServiceReference/CMS_Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50615/CMS_Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" />
  <xs:import schemaLocation="http://localhost:50615/CMS_Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SODAwcfService" />
  <xs:element name="addContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" minOccurs="0" name="contentdef" nillable="true" type="q1:ContentDef" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addContentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" minOccurs="0" name="contentdef" nillable="true" type="q2:ContentDef" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateContentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PageCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sectionName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" minOccurs="0" name="getContentResult" nillable="true" type="q3:ArrayOfContentDef" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PageCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sectionName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteContentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Authenticate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthenticateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SODAwcfService" minOccurs="0" name="contact" nillable="true" type="q4:Contact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addContactResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>