SODAMvcApplication/SODAPortalMvcApplication/Service References/SODAPayPalServiceReference/SODAPaypalService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PayPal.PayPalAPIInterfaceService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PayPal.PayPalAPIInterfaceService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetRecurringPaymentsProfileDetailsResponseType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractResponseType">
        <xs:sequence>
          <xs:element minOccurs="0" name="GetRecurringPaymentsProfileDetailsResponseDetails" nillable="true" type="tns:GetRecurringPaymentsProfileDetailsResponseDetailsType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetRecurringPaymentsProfileDetailsResponseType" nillable="true" type="tns:GetRecurringPaymentsProfileDetailsResponseType" />
  <xs:complexType name="AbstractResponseType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ack" nillable="true" type="tns:AckCodeType" />
      <xs:element minOccurs="0" name="Build" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorrelationID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Errors" nillable="true" type="tns:ArrayOfErrorType" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AbstractResponseType" nillable="true" type="tns:AbstractResponseType" />
  <xs:simpleType name="AckCodeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SUCCESS" />
      <xs:enumeration value="FAILURE" />
      <xs:enumeration value="WARNING" />
      <xs:enumeration value="SUCCESSWITHWARNING" />
      <xs:enumeration value="FAILUREWITHWARNING" />
      <xs:enumeration value="PARTIALSUCCESS" />
      <xs:enumeration value="CUSTOMCODE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AckCodeType" nillable="true" type="tns:AckCodeType" />
  <xs:complexType name="ArrayOfErrorType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ErrorType" nillable="true" type="tns:ErrorType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfErrorType" nillable="true" type="tns:ArrayOfErrorType" />
  <xs:complexType name="ErrorType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorParameters" nillable="true" type="tns:ArrayOfErrorParameterType" />
      <xs:element minOccurs="0" name="LongMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeverityCode" nillable="true" type="tns:SeverityCodeType" />
      <xs:element minOccurs="0" name="ShortMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorType" nillable="true" type="tns:ErrorType" />
  <xs:complexType name="ArrayOfErrorParameterType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ErrorParameterType" nillable="true" type="tns:ErrorParameterType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfErrorParameterType" nillable="true" type="tns:ArrayOfErrorParameterType" />
  <xs:complexType name="ErrorParameterType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ParamID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorParameterType" nillable="true" type="tns:ErrorParameterType" />
  <xs:simpleType name="SeverityCodeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="WARNING" />
      <xs:enumeration value="ERROR" />
      <xs:enumeration value="PARTIALSUCCESS" />
      <xs:enumeration value="CUSTOMCODE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SeverityCodeType" nillable="true" type="tns:SeverityCodeType" />
  <xs:complexType name="GetRecurringPaymentsProfileDetailsResponseDetailsType">
    <xs:sequence>
      <xs:element minOccurs="0" name="AggregateAmount" nillable="true" type="tns:BasicAmountType" />
      <xs:element minOccurs="0" name="AggregateOptionalAmount" nillable="true" type="tns:BasicAmountType" />
      <xs:element minOccurs="0" name="AutoBillOutstandingAmount" nillable="true" type="tns:AutoBillType" />
      <xs:element minOccurs="0" name="CreditCard" nillable="true" type="tns:CreditCardDetailsType" />
      <xs:element minOccurs="0" name="CurrentRecurringPaymentsPeriod" nillable="true" type="tns:BillingPeriodDetailsType" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FinalPaymentDueDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxFailedPayments" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProfileID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfileStatus" nillable="true" type="tns:RecurringPaymentsProfileStatusType" />
      <xs:element minOccurs="0" name="RecurringPaymentsProfileDetails" nillable="true" type="tns:RecurringPaymentsProfileDetailsType" />
      <xs:element minOccurs="0" name="RecurringPaymentsSummary" nillable="true" type="tns:RecurringPaymentsSummaryType" />
      <xs:element minOccurs="0" name="RegularAmountPaid" nillable="true" type="tns:BasicAmountType" />
      <xs:element minOccurs="0" name="RegularRecurringPaymentsPeriod" nillable="true" type="tns:BillingPeriodDetailsType" />
      <xs:element minOccurs="0" name="TrialAmountPaid" nillable="true" type="tns:BasicAmountType" />
      <xs:element minOccurs="0" name="TrialRecurringPaymentsPeriod" nillable="true" type="tns:BillingPeriodDetailsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetRecurringPaymentsProfileDetailsResponseDetailsType" nillable="true" type="tns:GetRecurringPaymentsProfileDetailsResponseDetailsType" />
  <xs:complexType name="BasicAmountType">
    <xs:sequence>
      <xs:element minOccurs="0" name="currencyID" nillable="true" type="tns:CurrencyCodeType" />
      <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BasicAmountType" nillable="true" type="tns:BasicAmountType" />
  <xs:simpleType name="CurrencyCodeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AFA" />
      <xs:enumeration value="ALL" />
      <xs:enumeration value="DZD" />
      <xs:enumeration value="ADP" />
      <xs:enumeration value="AOA" />
      <xs:enumeration value="ARS" />
      <xs:enumeration value="AMD" />
      <xs:enumeration value="AWG" />
      <xs:enumeration value="AZM" />
      <xs:enumeration value="BSD" />
      <xs:enumeration value="BHD" />
      <xs:enumeration value="BDT" />
      <xs:enumeration value="BBD" />
      <xs:enumeration value="BYR" />
      <xs:enumeration value="BZD" />
      <xs:enumeration value="BMD" />
      <xs:enumeration value="BTN" />
      <xs:enumeration value="INR" />
      <xs:enumeration value="BOV" />
      <xs:enumeration value="BOB" />
      <xs:enumeration value="BAM" />
      <xs:enumeration value="BWP" />
      <xs:enumeration value="BRL" />
      <xs:enumeration value="BND" />
      <xs:enumeration value="BGL" />
      <xs:enumeration value="BGN" />
      <xs:enumeration value="BIF" />
      <xs:enumeration value="KHR" />
      <xs:enumeration value="CAD" />
      <xs:enumeration value="CVE" />
      <xs:enumeration value="KYD" />
      <xs:enumeration value="XAF" />
      <xs:enumeration value="CLF" />
      <xs:enumeration value="CLP" />
      <xs:enumeration value="CNY" />
      <xs:enumeration value="COP" />
      <xs:enumeration value="KMF" />
      <xs:enumeration value="CDF" />
      <xs:enumeration value="CRC" />
      <xs:enumeration value="HRK" />
      <xs:enumeration value="CUP" />
      <xs:enumeration value="CYP" />
      <xs:enumeration value="CZK" />
      <xs:enumeration value="DKK" />
      <xs:enumeration value="DJF" />
      <xs:enumeration value="DOP" />
      <xs:enumeration value="TPE" />
      <xs:enumeration value="ECV" />
      <xs:enumeration value="ECS" />
      <xs:enumeration value="EGP" />
      <xs:enumeration value="SVC" />
      <xs:enumeration value="ERN" />
      <xs:enumeration value="EEK" />
      <xs:enumeration value="ETB" />
      <xs:enumeration value="FKP" />
      <xs:enumeration value="FJD" />
      <xs:enumeration value="GMD" />
      <xs:enumeration value="GEL" />
      <xs:enumeration value="GHC" />
      <xs:enumeration value="GIP" />
      <xs:enumeration value="GTQ" />
      <xs:enumeration value="GNF" />
      <xs:enumeration value="GWP" />
      <xs:enumeration value="GYD" />
      <xs:enumeration value="HTG" />
      <xs:enumeration value="HNL" />
      <xs:enumeration value="HKD" />
      <xs:enumeration value="HUF" />
      <xs:enumeration value="ISK" />
      <xs:enumeration value="IDR" />
      <xs:enumeration value="IRR" />
      <xs:enumeration value="IQD" />
      <xs:enumeration value="ILS" />
      <xs:enumeration value="JMD" />
      <xs:enumeration value="JPY" />
      <xs:enumeration value="JOD" />
      <xs:enumeration value="KZT" />
      <xs:enumeration value="KES" />
      <xs:enumeration value="AUD" />
      <xs:enumeration value="KPW" />
      <xs:enumeration value="KRW" />
      <xs:enumeration value="KWD" />
      <xs:enumeration value="KGS" />
      <xs:enumeration value="LAK" />
      <xs:enumeration value="LVL" />
      <xs:enumeration value="LBP" />
      <xs:enumeration value="LSL" />
      <xs:enumeration value="LRD" />
      <xs:enumeration value="LYD" />
      <xs:enumeration value="CHF" />
      <xs:enumeration value="LTL" />
      <xs:enumeration value="MOP" />
      <xs:enumeration value="MKD" />
      <xs:enumeration value="MGF" />
      <xs:enumeration value="MWK" />
      <xs:enumeration value="MYR" />
      <xs:enumeration value="MVR" />
      <xs:enumeration value="MTL" />
      <xs:enumeration value="EUR" />
      <xs:enumeration value="MRO" />
      <xs:enumeration value="MUR" />
      <xs:enumeration value="MXN" />
      <xs:enumeration value="MXV" />
      <xs:enumeration value="MDL" />
      <xs:enumeration value="MNT" />
      <xs:enumeration value="XCD" />
      <xs:enumeration value="MZM" />
      <xs:enumeration value="MMK" />
      <xs:enumeration value="ZAR" />
      <xs:enumeration value="NAD" />
      <xs:enumeration value="NPR" />
      <xs:enumeration value="ANG" />
      <xs:enumeration value="XPF" />
      <xs:enumeration value="NZD" />
      <xs:enumeration value="NIO" />
      <xs:enumeration value="NGN" />
      <xs:enumeration value="NOK" />
      <xs:enumeration value="OMR" />
      <xs:enumeration value="PKR" />
      <xs:enumeration value="PAB" />
      <xs:enumeration value="PGK" />
      <xs:enumeration value="PYG" />
      <xs:enumeration value="PEN" />
      <xs:enumeration value="PHP" />
      <xs:enumeration value="PLN" />
      <xs:enumeration value="USD" />
      <xs:enumeration value="QAR" />
      <xs:enumeration value="ROL" />
      <xs:enumeration value="RUB" />
      <xs:enumeration value="RUR" />
      <xs:enumeration value="RWF" />
      <xs:enumeration value="SHP" />
      <xs:enumeration value="WST" />
      <xs:enumeration value="STD" />
      <xs:enumeration value="SAR" />
      <xs:enumeration value="SCR" />
      <xs:enumeration value="SLL" />
      <xs:enumeration value="SGD" />
      <xs:enumeration value="SKK" />
      <xs:enumeration value="SIT" />
      <xs:enumeration value="SBD" />
      <xs:enumeration value="SOS" />
      <xs:enumeration value="LKR" />
      <xs:enumeration value="SDD" />
      <xs:enumeration value="SRG" />
      <xs:enumeration value="SZL" />
      <xs:enumeration value="SEK" />
      <xs:enumeration value="SYP" />
      <xs:enumeration value="TWD" />
      <xs:enumeration value="TJS" />
      <xs:enumeration value="TZS" />
      <xs:enumeration value="THB" />
      <xs:enumeration value="XOF" />
      <xs:enumeration value="TOP" />
      <xs:enumeration value="TTD" />
      <xs:enumeration value="TND" />
      <xs:enumeration value="TRY" />
      <xs:enumeration value="TMM" />
      <xs:enumeration value="UGX" />
      <xs:enumeration value="UAH" />
      <xs:enumeration value="AED" />
      <xs:enumeration value="GBP" />
      <xs:enumeration value="USS" />
      <xs:enumeration value="USN" />
      <xs:enumeration value="UYU" />
      <xs:enumeration value="UZS" />
      <xs:enumeration value="VUV" />
      <xs:enumeration value="VEB" />
      <xs:enumeration value="VND" />
      <xs:enumeration value="MAD" />
      <xs:enumeration value="YER" />
      <xs:enumeration value="YUM" />
      <xs:enumeration value="ZMK" />
      <xs:enumeration value="ZWD" />
      <xs:enumeration value="CUSTOMCODE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CurrencyCodeType" nillable="true" type="tns:CurrencyCodeType" />
  <xs:simpleType name="AutoBillType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NOAUTOBILL" />
      <xs:enumeration value="ADDTONEXTBILLING" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AutoBillType" nillable="true" type="tns:AutoBillType" />
  <xs:complexType name="CreditCardDetailsType">
    <xs:sequence>
      <xs:element minOccurs="0" name="CVV2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardOwner" nillable="true" type="tns:PayerInfoType" />
      <xs:element minOccurs="0" name="CreditCardNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditCardType" nillable="true" type="tns:CreditCardTypeType" />
      <xs:element minOccurs="0" name="ExpMonth" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ExpYear" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IssueNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartMonth" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StartYear" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ThreeDSecureRequest" nillable="true" type="tns:ThreeDSecureRequestType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditCardDetailsType" nillable="true" type="tns:CreditCardDetailsType" />
  <xs:complexType name="PayerInfoType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:AddressType" />
      <xs:element minOccurs="0" name="ContactPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnhancedPayerInfo" nillable="true" type="tns:EnhancedPayerInfoType" />
      <xs:element minOccurs="0" name="Payer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerBusiness" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerCountry" nillable="true" type="tns:CountryCodeType" />
      <xs:element minOccurs="0" name="PayerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayerName" nillable="true" type="tns:PersonNameType" />
      <xs:element minOccurs="0" name="PayerStatus" nillable="true" type="tns:PayPalUserStatusCodeType" />
      <xs:element minOccurs="0" name="TaxIdDetails" nillable="true" type="tns:TaxIdDetailsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PayerInfoType" nillable="true" type="tns:PayerInfoType" />
  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressNormalizationStatus" nillable="true" type="tns:AddressNormalizationStatusCodeType" />
      <xs:element minOccurs="0" name="AddressOwner" nillable="true" type="tns:AddressOwnerCodeType" />
      <xs:element minOccurs="0" name="AddressStatus" nillable="true" type="tns:AddressStatusCodeType" />
      <xs:element minOccurs="0" name="CityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="tns:CountryCodeType" />
      <xs:element minOccurs="0" name="CountryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExternalAddressID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InternationalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InternationalStateAndCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InternationalStreet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateOrProvince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressType" nillable="true" type="tns:AddressType" />
  <xs:simpleType name="AddressNormalizationStatusCodeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NONE" />
      <xs:enumeration value="NORMALIZED" />
      <xs:enumeration value="UNNORMALIZED" />
      <xs:enumeration value="USERPREFERRED" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AddressNormalizationStatusCodeType" nillable="true" type="tns:AddressNormalizationStatusCodeType" />
  <xs:simpleType name="AddressOwnerCodeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PAYPAL" />
      <xs:enumeration value="EBAY" />
      <xs:enumeration value="CUSTOMCODE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AddressOwnerCodeType" nillable="true" type="tns:AddressOwnerCodeType" />
  <xs:simpleType name="AddressStatusCodeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NONE" />
      <xs:enumeration value="CONFIRMED" />
      <xs:enumeration value="UNCONFIRMED" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AddressStatusCodeType" nillable="true" type="tns:AddressStatusCodeType" />
  <xs:simpleType name="CountryCodeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AF" />
      <xs:enumeration value="AL" />
      <xs:enumeration value="DZ" />
      <xs:enumeration value="AS" />
      <xs:enumeration value="AD" />
      <xs:enumeration value="AO" />
      <xs:enumeration value="AI" />
      <xs:enumeration value="AQ" />
      <xs:enumeration value="AG" />
      <xs:enumeration value="AR" />
      <xs:enumeration value="AM" />
      <xs:enumeration value="AW" />
      <xs:enumeration value="AU" />
      <xs:enumeration value="AT" />
      <xs:enumeration value="AZ" />
      <xs:enumeration value="BS" />
      <xs:enumeration value="BH" />
      <xs:enumeration value="BD" />
      <xs:enumeration value="BB" />
      <xs:enumeration value="BY" />
      <xs:enumeration value="BE" />
      <xs:enumeration value="BZ" />
      <xs:enumeration value="BJ" />
      <xs:enumeration value="BM" />
      <xs:enumeration value="BT" />
      <xs:enumeration value="BO" />
      <xs:enumeration value="BA" />
      <xs:enumeration value="BW" />
      <xs:enumeration value="BV" />
      <xs:enumeration value="BR" />
      <xs:enumeration value="IO" />
      <xs:enumeration value="BN" />
      <xs:enumeration value="BG" />
      <xs:enumeration value="BF" />
      <xs:enumeration value="BI" />
      <xs:enumeration value="KH" />
      <xs:enumeration value="CM" />
      <xs:enumeration value="CA" />
      <xs:enumeration value="CV" />
      <xs:enumeration value="KY" />
      <xs:enumeration value="CF" />
      <xs:enumeration value="TD" />
      <xs:enumeration value="CL" />
      <xs:enumeration value="C" />
      <xs:enumeration value="CN" />
      <xs:enumeration value="CX" />
      <xs:enumeration value="CC" />
      <xs:enumeration value="CO" />
      <xs:enumeration value="KM" />
      <xs:enumeration value="CG" />
      <xs:enumeration value="CD" />
      <xs:enumeration value="CK" />
      <xs:enumeration value="CR" />
      <xs:enumeration value="CI" />
      <xs:enumeration value="HR" />
      <xs:enumeration value="CU" />
      <xs:enumeration value="CY" />
      <xs:enumeration value="CZ" />
      <xs:enumeration value="DK" />
      <xs:enumeration value="DJ" />
      <xs:enumeration value="DM" />
      <xs:enumeration value="DO" />
      <xs:enumeration value="TP" />
      <xs:enumeration value="EC" />
      <xs:enumeration value="EG" />
      <xs:enumeration value="SV" />
      <xs:enumeration value="GQ" />
      <xs:enumeration value="ER" />
      <xs:enumeration value="EE" />
      <xs:enumeration value="ET" />
      <xs:enumeration value="FK" />
      <xs:enumeration value="FO" />
      <xs:enumeration value="FJ" />
      <xs:enumeration value="FI" />
      <xs:enumeration value="FR" />
      <xs:enumeration value="GF" />
      <xs:enumeration value="PF" />
      <xs:enumeration value="TF" />
      <xs:enumeration value="GA" />
      <xs:enumeration value="GM" />
      <xs:enumeration value="GE" />
      <xs:enumeration value="DE" />
      <xs:enumeration value="GH" />
      <xs:enumeration value="GI" />
      <xs:enumeration value="GR" />
      <xs:enumeration value="GL" />
      <xs:enumeration value="GD" />
      <xs:enumeration value="GP" />
      <xs:enumeration value="GU" />
      <xs:enumeration value="GT" />
      <xs:enumeration value="GN" />
      <xs:enumeration value="GW" />
      <xs:enumeration value="GY" />
      <xs:enumeration value="HT" />
      <xs:enumeration value="HM" />
      <xs:enumeration value="VA" />
      <xs:enumeration value="HN" />
      <xs:enumeration value="HK" />
      <xs:enumeration value="HU" />
      <xs:enumeration value="IS" />
      <xs:enumeration value="IN" />
      <xs:enumeration value="ID" />
      <xs:enumeration value="IR" />
      <xs:enumeration value="IQ" />
      <xs:enumeration value="IE" />
      <xs:enumeration value="IL" />
      <xs:enumeration value="IT" />
      <xs:enumeration value="JM" />
      <xs:enumeration value="JP" />
      <xs:enumeration value="JO" />
      <xs:enumeration value="KZ" />
      <xs:enumeration value="KE" />
      <xs:enumeration value="KI" />
      <xs:enumeration value="KP" />
      <xs:enumeration value="KR" />
      <xs:enumeration value="KW" />
      <xs:enumeration value="KG" />
      <xs:enumeration value="LA" />
      <xs:enumeration value="LV" />
      <xs:enumeration value="LB" />
      <xs:enumeration value="LS" />
      <xs:enumeration value="LR" />
      <xs:enumeration value="LY" />
      <xs:enumeration value="LI" />
      <xs:enumeration value="LT" />
      <xs:enumeration value="LU" />
      <xs:enumeration value="MO" />
      <xs:enumeration value="MK" />
      <xs:enumeration value="MG" />
      <xs:enumeration value="MW" />
      <xs:enumeration value="MY" />
      <xs:enumeration value="MV" />
      <xs:enumeration value="ML" />
      <xs:enumeration value="MT" />
      <xs:enumeration value="MH" />
      <xs:enumeration value="MQ" />
      <xs:enumeration value="MR" />
      <xs:enumeration value="MU" />
      <xs:enumeration value="YT" />
      <xs:enumeration value="MX" />
      <xs:enumeration value="FM" />
      <xs:enumeration value="MD" />
      <xs:enumeration value="MC" />
      <xs:enumeration value="MN" />
      <xs:enumeration value="MS" />
      <xs:enumeration value="MA" />
      <xs:enumeration value="MZ" />
      <xs:enumeration value="MM" />
      <xs:enumeration value="NA" />
      <xs:enumeration value="NR" />
      <xs:enumeration value="NP" />
      <xs:enumeration value="NL" />
      <xs:enumeration value="AN" />
      <xs:enumeration value="NC" />
      <xs:enumeration value="NZ" />
      <xs:enumeration value="NI" />
      <xs:enumeration value="NE" />
      <xs:enumeration value="NG" />
      <xs:enumeration value="NU" />
      <xs:enumeration value="NF" />
      <xs:enumeration value="MP" />
      <xs:enumeration value="NO" />
      <xs:enumeration value="OM" />
      <xs:enumeration value="PK" />
      <xs:enumeration value="PW" />
      <xs:enumeration value="PS" />
      <xs:enumeration value="PA" />
      <xs:enumeration value="PG" />
      <xs:enumeration value="PY" />
      <xs:enumeration value="PE" />
      <xs:enumeration value="PH" />
      <xs:enumeration value="PN" />
      <xs:enumeration value="PL" />
      <xs:enumeration value="PT" />
      <xs:enumeration value="PR" />
      <xs:enumeration value="QA" />
      <xs:enumeration value="RE" />
      <xs:enumeration value="RO" />
      <xs:enumeration value="RU" />
      <xs:enumeration value="RW" />
      <xs:enumeration value="SH" />
      <xs:enumeration value="KN" />
      <xs:enumeration value="LC" />
      <xs:enumeration value="PM" />
      <xs:enumeration value="VC" />
      <xs:enumeration value="WS" />
      <xs:enumeration value="SM" />
      <xs:enumeration value="ST" />
      <xs:enumeration value="SA" />
      <xs:enumeration value="SN" />
      <xs:enumeration value="SC" />
      <xs:enumeration value="SL" />
      <xs:enumeration value="SG" />
      <xs:enumeration value="SK" />
      <xs:enumeration value="SI" />
      <xs:enumeration value="SB" />
      <xs:enumeration value="SO" />
      <xs:enumeration value="ZA" />
      <xs:enumeration value="GS" />
      <xs:enumeration value="ES" />
      <xs:enumeration value="LK" />
      <xs:enumeration value="SD" />
      <xs:enumeration value="SR" />
      <xs:enumeration value="SJ" />
      <xs:enumeration value="SZ" />
      <xs:enumeration value="SE" />
      <xs:enumeration value="CH" />
      <xs:enumeration value="SY" />
      <xs:enumeration value="TW" />
      <xs:enumeration value="TJ" />
      <xs:enumeration value="TZ" />
      <xs:enumeration value="TH" />
      <xs:enumeration value="TG" />
      <xs:enumeration value="TK" />
      <xs:enumeration value="TO" />
      <xs:enumeration value="TT" />
      <xs:enumeration value="TN" />
      <xs:enumeration value="TR" />
      <xs:enumeration value="TM" />
      <xs:enumeration value="TC" />
      <xs:enumeration value="TV" />
      <xs:enumeration value="UG" />
      <xs:enumeration value="UA" />
      <xs:enumeration value="AE" />
      <xs:enumeration value="GB" />
      <xs:enumeration value="US" />
      <xs:enumeration value="UM" />
      <xs:enumeration value="UY" />
      <xs:enumeration value="UZ" />
      <xs:enumeration value="VU" />
      <xs:enumeration value="VE" />
      <xs:enumeration value="VN" />
      <xs:enumeration value="VG" />
      <xs:enumeration value="VI" />
      <xs:enumeration value="WF" />
      <xs:enumeration value="EH" />
      <xs:enumeration value="YE" />
      <xs:enumeration value="YU" />
      <xs:enumeration value="ZM" />
      <xs:enumeration value="ZW" />
      <xs:enumeration value="AA" />
      <xs:enumeration value="QM" />
      <xs:enumeration value="QN" />
      <xs:enumeration value="QO" />
      <xs:enumeration value="QP" />
      <xs:enumeration value="CS" />
      <xs:enumeration value="CUSTOMCODE" />
      <xs:enumeration value="GG" />
      <xs:enumeration value="IM" />
      <xs:enumeration value="JE" />
      <xs:enumeration value="TL" />
      <xs:enumeration value="RS" />
      <xs:enumeration value="ME" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CountryCodeType" nillable="true" type="tns:CountryCodeType" />
  <xs:complexType name="EnhancedPayerInfoType">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="EnhancedPayerInfoType" nillable="true" type="tns:EnhancedPayerInfoType" />
  <xs:complexType name="PersonNameType">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Salutation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Suffix" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonNameType" nillable="true" type="tns:PersonNameType" />
  <xs:simpleType name="PayPalUserStatusCodeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VERIFIED" />
      <xs:enumeration value="UNVERIFIED" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PayPalUserStatusCodeType" nillable="true" type="tns:PayPalUserStatusCodeType" />
  <xs:complexType name="TaxIdDetailsType">
    <xs:sequence>
      <xs:element minOccurs="0" name="TaxId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxIdType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaxIdDetailsType" nillable="true" type="tns:TaxIdDetailsType" />
  <xs:simpleType name="CreditCardTypeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VISA" />
      <xs:enumeration value="MASTERCARD" />
      <xs:enumeration value="DISCOVER" />
      <xs:enumeration value="AMEX" />
      <xs:enumeration value="SWITCH" />
      <xs:enumeration value="SOLO" />
      <xs:enumeration value="MAESTRO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CreditCardTypeType" nillable="true" type="tns:CreditCardTypeType" />
  <xs:complexType name="ThreeDSecureRequestType">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthStatus3ds" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cavv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Eci3ds" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MpiVendor3ds" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Xid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ThreeDSecureRequestType" nillable="true" type="tns:ThreeDSecureRequestType" />
  <xs:complexType name="BillingPeriodDetailsType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="tns:BasicAmountType" />
      <xs:element minOccurs="0" name="BillingFrequency" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BillingPeriod" nillable="true" type="tns:BillingPeriodType" />
      <xs:element minOccurs="0" name="ShippingAmount" nillable="true" type="tns:BasicAmountType" />
      <xs:element minOccurs="0" name="TaxAmount" nillable="true" type="tns:BasicAmountType" />
      <xs:element minOccurs="0" name="TotalBillingCycles" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillingPeriodDetailsType" nillable="true" type="tns:BillingPeriodDetailsType" />
  <xs:simpleType name="BillingPeriodType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NOBILLINGPERIODTYPE" />
      <xs:enumeration value="DAY" />
      <xs:enumeration value="WEEK" />
      <xs:enumeration value="SEMIMONTH" />
      <xs:enumeration value="MONTH" />
      <xs:enumeration value="YEAR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BillingPeriodType" nillable="true" type="tns:BillingPeriodType" />
  <xs:simpleType name="RecurringPaymentsProfileStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVEPROFILE" />
      <xs:enumeration value="PENDINGPROFILE" />
      <xs:enumeration value="CANCELLEDPROFILE" />
      <xs:enumeration value="EXPIREDPROFILE" />
      <xs:enumeration value="SUSPENDEDPROFILE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RecurringPaymentsProfileStatusType" nillable="true" type="tns:RecurringPaymentsProfileStatusType" />
  <xs:complexType name="RecurringPaymentsProfileDetailsType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillingStartDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfileReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubscriberName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubscriberShippingAddress" nillable="true" type="tns:AddressType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecurringPaymentsProfileDetailsType" nillable="true" type="tns:RecurringPaymentsProfileDetailsType" />
  <xs:complexType name="RecurringPaymentsSummaryType">
    <xs:sequence>
      <xs:element minOccurs="0" name="FailedPaymentCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LastPaymentAmount" nillable="true" type="tns:BasicAmountType" />
      <xs:element minOccurs="0" name="LastPaymentDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NextBillingDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberCyclesCompleted" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NumberCyclesRemaining" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OutstandingBalance" nillable="true" type="tns:BasicAmountType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecurringPaymentsSummaryType" nillable="true" type="tns:RecurringPaymentsSummaryType" />
</xs:schema>