SODAMvcApplication/SODAPortalMvcApplication/Service References/PortalServiceReference/PortalService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50620/PortalService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" />
  <xs:element name="getCustomer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" minOccurs="0" name="getCustomerResult" nillable="true" type="q1:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateEnd" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" minOccurs="0" name="getByDateResult" nillable="true" type="q2:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBySaleCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SalesCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBySaleCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" minOccurs="0" name="getBySaleCodeResult" nillable="true" type="q3:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" minOccurs="0" name="customer" nillable="true" type="q4:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addCustomerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" minOccurs="0" name="customer" nillable="true" type="q5:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateCustomerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteCustomerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSalePerson">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getSalePersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" minOccurs="0" name="getSalePersonResult" nillable="true" type="q6:ArrayOfSalesPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSalesPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" minOccurs="0" name="salesPerson" nillable="true" type="q7:SalesPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSalesPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addSalesPersonResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateSalesPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" minOccurs="0" name="salesPerson" nillable="true" type="q8:SalesPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateSalesPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateSalesPersonResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSalePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSalePersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteSalePersonResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSaleCode">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getSaleCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" minOccurs="0" name="getSaleCodeResult" nillable="true" type="q9:ArrayOfSalesCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSalesCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" minOccurs="0" name="salesCode" nillable="true" type="q10:SalesCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSalesCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addSalesCodeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateSalsCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" minOccurs="0" name="salesCode" nillable="true" type="q11:SalesCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateSalsCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateSalsCodeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSalesCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSalesCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteSalesCodeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPrice">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" minOccurs="0" name="getPriceResult" nillable="true" type="q12:ArrayOfPrice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" minOccurs="0" name="price" nillable="true" type="q13:Price" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addPriceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" minOccurs="0" name="price" nillable="true" type="q14:Price" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updatePriceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deletePriceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRegion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" minOccurs="0" name="getRegionResult" nillable="true" type="q15:ArrayOfRegion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" minOccurs="0" name="region" nillable="true" type="q16:Region" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addRegionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" minOccurs="0" name="region" nillable="true" type="q17:Region" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateRegionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteRegionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLicenseConsumption">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLicenseConsumptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" minOccurs="0" name="getLicenseConsumptionResult" nillable="true" type="q18:ArrayOfLicenseConsumption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addLicenseConsumption">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" minOccurs="0" name="license" nillable="true" type="q19:LicenseConsumption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addLicenseConsumptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addLicenseConsumptionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateLicenseConsumption">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" minOccurs="0" name="license" nillable="true" type="q20:LicenseConsumption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateLicenseConsumptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateLicenseConsumptionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delteLicenseConsumption">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delteLicenseConsumptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delteLicenseConsumptionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCustomerContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" minOccurs="0" name="contract" nillable="true" type="q21:CustomerContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCustomerContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addCustomerContractResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCustomerContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" minOccurs="0" name="contract" nillable="true" type="q22:CustomerContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCustomerContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateCustomerContractResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCustomerContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCustomerContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteCustomerContractResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCustomerContract">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCustomerContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" minOccurs="0" name="getCustomerContractResult" nillable="true" type="q23:ArrayOfCustomerContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>