SODAMvcApplication/SODAPortalMvcApplication/Service References/SODAPayPalSerRef/SODAPaypalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SODAPaypalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50615/SODAPaypalService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50615/SODAPaypalService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50615/SODAPaypalService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PayPal.PayPalAPIInterfaceService.Model" />
      <xsd:import schemaLocation="http://localhost:50615/SODAPaypalService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISODAPaypalService_checkout_InputMessage">
    <wsdl:part name="parameters" element="tns:checkout" />
  </wsdl:message>
  <wsdl:message name="ISODAPaypalService_checkout_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkoutResponse" />
  </wsdl:message>
  <wsdl:message name="ISODAPaypalService_confirmation_InputMessage">
    <wsdl:part name="parameters" element="tns:confirmation" />
  </wsdl:message>
  <wsdl:message name="ISODAPaypalService_confirmation_OutputMessage">
    <wsdl:part name="parameters" element="tns:confirmationResponse" />
  </wsdl:message>
  <wsdl:message name="ISODAPaypalService_cancelSubscription_InputMessage">
    <wsdl:part name="parameters" element="tns:cancelSubscription" />
  </wsdl:message>
  <wsdl:message name="ISODAPaypalService_cancelSubscription_OutputMessage">
    <wsdl:part name="parameters" element="tns:cancelSubscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="ISODAPaypalService_getRecurProfileDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:getRecurProfileDetails" />
  </wsdl:message>
  <wsdl:message name="ISODAPaypalService_getRecurProfileDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRecurProfileDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="ISODAPaypalService">
    <wsdl:operation name="checkout">
      <wsdl:input wsaw:Action="http://tempuri.org/ISODAPaypalService/checkout" message="tns:ISODAPaypalService_checkout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISODAPaypalService/checkoutResponse" message="tns:ISODAPaypalService_checkout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="confirmation">
      <wsdl:input wsaw:Action="http://tempuri.org/ISODAPaypalService/confirmation" message="tns:ISODAPaypalService_confirmation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISODAPaypalService/confirmationResponse" message="tns:ISODAPaypalService_confirmation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="cancelSubscription">
      <wsdl:input wsaw:Action="http://tempuri.org/ISODAPaypalService/cancelSubscription" message="tns:ISODAPaypalService_cancelSubscription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISODAPaypalService/cancelSubscriptionResponse" message="tns:ISODAPaypalService_cancelSubscription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getRecurProfileDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ISODAPaypalService/getRecurProfileDetails" message="tns:ISODAPaypalService_getRecurProfileDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISODAPaypalService/getRecurProfileDetailsResponse" message="tns:ISODAPaypalService_getRecurProfileDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISODAPaypalService" type="tns:ISODAPaypalService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="checkout">
      <soap:operation soapAction="http://tempuri.org/ISODAPaypalService/checkout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confirmation">
      <soap:operation soapAction="http://tempuri.org/ISODAPaypalService/confirmation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelSubscription">
      <soap:operation soapAction="http://tempuri.org/ISODAPaypalService/cancelSubscription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRecurProfileDetails">
      <soap:operation soapAction="http://tempuri.org/ISODAPaypalService/getRecurProfileDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SODAPaypalService">
    <wsdl:port name="BasicHttpBinding_ISODAPaypalService" binding="tns:BasicHttpBinding_ISODAPaypalService">
      <soap:address location="http://localhost:50615/SODAPaypalService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>