SODAMvcApplication/SODAPortalMvcApplication/Service References/SODAPayPalSerRef/SODAPaypalService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50615/SODAPaypalService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PayPal.PayPalAPIInterfaceService.Model" />
  <xs:import schemaLocation="http://localhost:50615/SODAPaypalService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" />
  <xs:element name="checkout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="amt" type="xs:decimal" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PayPal.PayPalAPIInterfaceService.Model" minOccurs="0" name="cType" type="q1:CurrencyCodeType" />
        <xs:element minOccurs="0" name="itemName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemDesc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemURL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cancelurl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="confirmUrl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkoutResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkoutModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" minOccurs="0" name="model" nillable="true" type="q2:PayPalCheckOutModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkoutModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkoutModelResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="confirmation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:long" />
        <xs:element minOccurs="0" name="payorid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amt" type="xs:decimal" />
        <xs:element minOccurs="0" name="recur_amt" type="xs:decimal" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PayPal.PayPalAPIInterfaceService.Model" minOccurs="0" name="cType" type="q3:CurrencyCodeType" />
        <xs:element minOccurs="0" name="itemName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemDesc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateStart" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="confirmationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="confirmationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="confirmationModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" minOccurs="0" name="model" nillable="true" type="q4:PayPalConfirmModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="confirmationModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="confirmationModelResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cancelSubscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cancelSubscriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cancelSubscriptionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRecurProfileDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRecurProfileDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" minOccurs="0" name="getRecurProfileDetailsResult" nillable="true" type="q5:RecuringProfileDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRecurProfileDetailsByTransID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TransID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRecurProfileDetailsByTransIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" minOccurs="0" name="getRecurProfileDetailsByTransIDResult" nillable="true" type="q6:RecuringProfileDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPayPalTrans">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPayPalTransResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" minOccurs="0" name="getPayPalTransResult" nillable="true" type="q7:ArrayOfPayPalTrans" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="initPayPalAccountSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="initPayPalAccountSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="initPayPalAccountSettingsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>