CMSMvcApplication/CMSMvcApplication/Service References/CatListingServiceReference/CatListingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50615/CatListingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" />
  <xs:element name="add_Category">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" minOccurs="0" name="category_new" nillable="true" type="q1:Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_CategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="add_CategoryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="update_Category">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" minOccurs="0" name="category_new" nillable="true" type="q2:Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="update_CategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="update_CategoryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delete_Category">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CategoryID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delete_CategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delete_CategoryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_Category">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CategoryID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_CategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" minOccurs="0" name="get_CategoryResult" nillable="true" type="q3:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_Categories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_CategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" minOccurs="0" name="get_CategoriesResult" nillable="true" type="q4:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_Specific">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" minOccurs="0" name="specific_new" nillable="true" type="q5:Specific" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_SpecificResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="add_SpecificResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="update_Specific">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" minOccurs="0" name="specific_new" nillable="true" type="q6:Specific" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="update_SpecificResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="update_SpecificResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delete_Specific">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delete_SpecificResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delete_SpecificResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSpecificByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSpecificByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" minOccurs="0" name="getSpecificByIDResult" nillable="true" type="q7:ArrayOfSpecific" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSpecificByCatID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CatID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSpecificByCatIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" minOccurs="0" name="getSpecificByCatIDResult" nillable="true" type="q8:ArrayOfSpecific" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Authenticate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthenticateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRelatedByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRelatedByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" minOccurs="0" name="getRelatedByIDResult" nillable="true" type="q9:ArrayOfSpecific" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" minOccurs="0" name="getResult" nillable="true" type="q10:ArrayOfSpecific" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>