SODAMvcApplication/SODAMvcApplication/Service References/CategoriesServiceReference/CatListingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CatListingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50615/CatListingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50615/CatListingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50615/CatListingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICatListingService_add_Category_InputMessage">
    <wsdl:part name="parameters" element="tns:add_Category" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_add_Category_OutputMessage">
    <wsdl:part name="parameters" element="tns:add_CategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_update_Category_InputMessage">
    <wsdl:part name="parameters" element="tns:update_Category" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_update_Category_OutputMessage">
    <wsdl:part name="parameters" element="tns:update_CategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_delete_Category_InputMessage">
    <wsdl:part name="parameters" element="tns:delete_Category" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_delete_Category_OutputMessage">
    <wsdl:part name="parameters" element="tns:delete_CategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_get_Category_InputMessage">
    <wsdl:part name="parameters" element="tns:get_Category" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_get_Category_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_CategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_get_Categories_InputMessage">
    <wsdl:part name="parameters" element="tns:get_Categories" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_get_Categories_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_CategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_add_Specific_InputMessage">
    <wsdl:part name="parameters" element="tns:add_Specific" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_add_Specific_OutputMessage">
    <wsdl:part name="parameters" element="tns:add_SpecificResponse" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_update_Specific_InputMessage">
    <wsdl:part name="parameters" element="tns:update_Specific" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_update_Specific_OutputMessage">
    <wsdl:part name="parameters" element="tns:update_SpecificResponse" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_delete_Specific_InputMessage">
    <wsdl:part name="parameters" element="tns:delete_Specific" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_delete_Specific_OutputMessage">
    <wsdl:part name="parameters" element="tns:delete_SpecificResponse" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_getSpecificByID_InputMessage">
    <wsdl:part name="parameters" element="tns:getSpecificByID" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_getSpecificByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSpecificByIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_getSpecificByCatID_InputMessage">
    <wsdl:part name="parameters" element="tns:getSpecificByCatID" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_getSpecificByCatID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSpecificByCatIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_getRelatedByID_InputMessage">
    <wsdl:part name="parameters" element="tns:getRelatedByID" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_getRelatedByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRelatedByIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_get_InputMessage">
    <wsdl:part name="parameters" element="tns:get" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_get_OutputMessage">
    <wsdl:part name="parameters" element="tns:getResponse" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_addChapter_InputMessage">
    <wsdl:part name="parameters" element="tns:addChapter" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_addChapter_OutputMessage">
    <wsdl:part name="parameters" element="tns:addChapterResponse" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_getChapter_InputMessage">
    <wsdl:part name="parameters" element="tns:getChapter" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_getChapter_OutputMessage">
    <wsdl:part name="parameters" element="tns:getChapterResponse" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_updateChapter_InputMessage">
    <wsdl:part name="parameters" element="tns:updateChapter" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_updateChapter_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateChapterResponse" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_deleteChapter_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteChapter" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_deleteChapter_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteChapterResponse" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_addTopic_InputMessage">
    <wsdl:part name="parameters" element="tns:addTopic" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_addTopic_OutputMessage">
    <wsdl:part name="parameters" element="tns:addTopicResponse" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_getTopics_InputMessage">
    <wsdl:part name="parameters" element="tns:getTopics" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_getTopics_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTopicsResponse" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_updateTopic_InputMessage">
    <wsdl:part name="parameters" element="tns:updateTopic" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_updateTopic_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateTopicResponse" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_deleteTopic_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteTopic" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_deleteTopic_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteTopicResponse" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_getCatAssign_InputMessage">
    <wsdl:part name="parameters" element="tns:getCatAssign" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_getCatAssign_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCatAssignResponse" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_addCatAssign_InputMessage">
    <wsdl:part name="parameters" element="tns:addCatAssign" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_addCatAssign_OutputMessage">
    <wsdl:part name="parameters" element="tns:addCatAssignResponse" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_updateCatAssign_InputMessage">
    <wsdl:part name="parameters" element="tns:updateCatAssign" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_updateCatAssign_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateCatAssignResponse" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_deleteCatAssign_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteCatAssign" />
  </wsdl:message>
  <wsdl:message name="ICatListingService_deleteCatAssign_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteCatAssignResponse" />
  </wsdl:message>
  <wsdl:portType name="ICatListingService">
    <wsdl:operation name="add_Category">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatListingService/add_Category" message="tns:ICatListingService_add_Category_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatListingService/add_CategoryResponse" message="tns:ICatListingService_add_Category_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="update_Category">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatListingService/update_Category" message="tns:ICatListingService_update_Category_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatListingService/update_CategoryResponse" message="tns:ICatListingService_update_Category_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delete_Category">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatListingService/delete_Category" message="tns:ICatListingService_delete_Category_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatListingService/delete_CategoryResponse" message="tns:ICatListingService_delete_Category_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_Category">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatListingService/get_Category" message="tns:ICatListingService_get_Category_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatListingService/get_CategoryResponse" message="tns:ICatListingService_get_Category_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_Categories">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatListingService/get_Categories" message="tns:ICatListingService_get_Categories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatListingService/get_CategoriesResponse" message="tns:ICatListingService_get_Categories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="add_Specific">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatListingService/add_Specific" message="tns:ICatListingService_add_Specific_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatListingService/add_SpecificResponse" message="tns:ICatListingService_add_Specific_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="update_Specific">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatListingService/update_Specific" message="tns:ICatListingService_update_Specific_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatListingService/update_SpecificResponse" message="tns:ICatListingService_update_Specific_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delete_Specific">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatListingService/delete_Specific" message="tns:ICatListingService_delete_Specific_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatListingService/delete_SpecificResponse" message="tns:ICatListingService_delete_Specific_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSpecificByID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatListingService/getSpecificByID" message="tns:ICatListingService_getSpecificByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatListingService/getSpecificByIDResponse" message="tns:ICatListingService_getSpecificByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSpecificByCatID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatListingService/getSpecificByCatID" message="tns:ICatListingService_getSpecificByCatID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatListingService/getSpecificByCatIDResponse" message="tns:ICatListingService_getSpecificByCatID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatListingService/Authenticate" message="tns:ICatListingService_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatListingService/AuthenticateResponse" message="tns:ICatListingService_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getRelatedByID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatListingService/getRelatedByID" message="tns:ICatListingService_getRelatedByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatListingService/getRelatedByIDResponse" message="tns:ICatListingService_getRelatedByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatListingService/get" message="tns:ICatListingService_get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatListingService/getResponse" message="tns:ICatListingService_get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addChapter">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatListingService/addChapter" message="tns:ICatListingService_addChapter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatListingService/addChapterResponse" message="tns:ICatListingService_addChapter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getChapter">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatListingService/getChapter" message="tns:ICatListingService_getChapter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatListingService/getChapterResponse" message="tns:ICatListingService_getChapter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateChapter">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatListingService/updateChapter" message="tns:ICatListingService_updateChapter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatListingService/updateChapterResponse" message="tns:ICatListingService_updateChapter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteChapter">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatListingService/deleteChapter" message="tns:ICatListingService_deleteChapter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatListingService/deleteChapterResponse" message="tns:ICatListingService_deleteChapter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addTopic">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatListingService/addTopic" message="tns:ICatListingService_addTopic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatListingService/addTopicResponse" message="tns:ICatListingService_addTopic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTopics">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatListingService/getTopics" message="tns:ICatListingService_getTopics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatListingService/getTopicsResponse" message="tns:ICatListingService_getTopics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateTopic">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatListingService/updateTopic" message="tns:ICatListingService_updateTopic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatListingService/updateTopicResponse" message="tns:ICatListingService_updateTopic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteTopic">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatListingService/deleteTopic" message="tns:ICatListingService_deleteTopic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatListingService/deleteTopicResponse" message="tns:ICatListingService_deleteTopic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCatAssign">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatListingService/getCatAssign" message="tns:ICatListingService_getCatAssign_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatListingService/getCatAssignResponse" message="tns:ICatListingService_getCatAssign_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addCatAssign">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatListingService/addCatAssign" message="tns:ICatListingService_addCatAssign_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatListingService/addCatAssignResponse" message="tns:ICatListingService_addCatAssign_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateCatAssign">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatListingService/updateCatAssign" message="tns:ICatListingService_updateCatAssign_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatListingService/updateCatAssignResponse" message="tns:ICatListingService_updateCatAssign_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteCatAssign">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatListingService/deleteCatAssign" message="tns:ICatListingService_deleteCatAssign_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatListingService/deleteCatAssignResponse" message="tns:ICatListingService_deleteCatAssign_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICatListingService" type="tns:ICatListingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="add_Category">
      <soap:operation soapAction="http://tempuri.org/ICatListingService/add_Category" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_Category">
      <soap:operation soapAction="http://tempuri.org/ICatListingService/update_Category" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete_Category">
      <soap:operation soapAction="http://tempuri.org/ICatListingService/delete_Category" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_Category">
      <soap:operation soapAction="http://tempuri.org/ICatListingService/get_Category" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_Categories">
      <soap:operation soapAction="http://tempuri.org/ICatListingService/get_Categories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add_Specific">
      <soap:operation soapAction="http://tempuri.org/ICatListingService/add_Specific" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_Specific">
      <soap:operation soapAction="http://tempuri.org/ICatListingService/update_Specific" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete_Specific">
      <soap:operation soapAction="http://tempuri.org/ICatListingService/delete_Specific" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSpecificByID">
      <soap:operation soapAction="http://tempuri.org/ICatListingService/getSpecificByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSpecificByCatID">
      <soap:operation soapAction="http://tempuri.org/ICatListingService/getSpecificByCatID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://tempuri.org/ICatListingService/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRelatedByID">
      <soap:operation soapAction="http://tempuri.org/ICatListingService/getRelatedByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get">
      <soap:operation soapAction="http://tempuri.org/ICatListingService/get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addChapter">
      <soap:operation soapAction="http://tempuri.org/ICatListingService/addChapter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getChapter">
      <soap:operation soapAction="http://tempuri.org/ICatListingService/getChapter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateChapter">
      <soap:operation soapAction="http://tempuri.org/ICatListingService/updateChapter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteChapter">
      <soap:operation soapAction="http://tempuri.org/ICatListingService/deleteChapter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addTopic">
      <soap:operation soapAction="http://tempuri.org/ICatListingService/addTopic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTopics">
      <soap:operation soapAction="http://tempuri.org/ICatListingService/getTopics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateTopic">
      <soap:operation soapAction="http://tempuri.org/ICatListingService/updateTopic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteTopic">
      <soap:operation soapAction="http://tempuri.org/ICatListingService/deleteTopic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCatAssign">
      <soap:operation soapAction="http://tempuri.org/ICatListingService/getCatAssign" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCatAssign">
      <soap:operation soapAction="http://tempuri.org/ICatListingService/addCatAssign" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCatAssign">
      <soap:operation soapAction="http://tempuri.org/ICatListingService/updateCatAssign" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCatAssign">
      <soap:operation soapAction="http://tempuri.org/ICatListingService/deleteCatAssign" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CatListingService">
    <wsdl:port name="BasicHttpBinding_ICatListingService" binding="tns:BasicHttpBinding_ICatListingService">
      <soap:address location="http://localhost:50615/CatListingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>