SODAMvcApplication/SODAMvcApplication/Service References/CategoriesServiceReference/CatListingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SODAwcfService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="BG_IMG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Banner_IMG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryId" type="xs:long" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMG_URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MetaDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Metatags" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Overview" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageTitile" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="ArrayOfCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategory" nillable="true" type="tns:ArrayOfCategory" />
  <xs:complexType name="Specific">
    <xs:sequence>
      <xs:element minOccurs="0" name="BG_Img" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryID" type="xs:long" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="ImageURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MetaDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Metatags" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Overview" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TitleCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VideoURL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Specific" nillable="true" type="tns:Specific" />
  <xs:complexType name="ArrayOfSpecific">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Specific" nillable="true" type="tns:Specific" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSpecific" nillable="true" type="tns:ArrayOfSpecific" />
</xs:schema>